# 1. Ignorar TUDO no nível principal do repositório
/*

# 2. Exceções (Pastas e Arquivos que SERÃO comitados)
!/.gitignore
!/docs/
!/scripts/
!/data/

# 3. Dentro da pasta data, ignorar tudo por padrão
/data/*

# 4. Exceções dentro de data (Pastas que SERÃO comitadas)
!/data/landing/
!/data/gold/

# 5. Segurança extra: Garantir exclusão de lixo de sistema/IDE e credenciais
__pycache__/
*.pyc
.env
.antigravity/
.DS_Store

!/README.md
